/*将所有元素的盒子模型设置为border-box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
*::before {
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #333;
}

ul,ol {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    width: 1em; 
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 .no-collaspse::before {
     content: '';
     display: table;
 }
 .no-collaspse::after {
    content: '';
    display: table;
}
.single-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-vcenter {
    display: flex;
    align-items: center;
}
.border-bottom::after {
    content: '';
    width: 200%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transform: scale(0.5);
    transform-origin: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -5;
}