/* .page-playsong */
.page-playsong {
    height: 100vh;
    position: relative;
}

/* .page-playsong .click-wrap */
.click-wrap {
    height: 90%;
    position: relative;
    z-index: 10;
}

/* .page-playsong .whole-bkground */
.whole-bkground {
    width: 100%;
    height: 100%;
    background: transparent center no-repeat;
    background-size: cover;
    transform: scale(1.5);
    transform-origin: center top;
    filter: blur(50px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}
.whole-bkground::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .page-playsong .logo */
.logo {
    width: 100px;
    height: 17px;
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 5;
}
.logo > img {
    width: 100%;
}


/* .page-playsong .song-wrap */
.song-wrap {
    padding-top: 63px;
    position: relative;
}
.song-wrap .pointer {
    width: 84px;
    height: 122px;
    background: transparent url(http://p6v42xc4h.bkt.clouddn.com/pointer-s.png) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: calc(50% - 13px);
    z-index: 5;
}
.song-wrap .disc {
    width: 248px;
    height: 248px;
    margin: 0 auto;
}
.song-wrap .disc .circle {
    width: 100%;
    height: 100%;
    position: relative;
}
.song-wrap .disc .circle::before {
    content: '';
    width: 100%;
    height: 100%;
    background: transparent url(http://p6v42xc4h.bkt.clouddn.com/disc-s.png) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.song-wrap .disc .cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: transparent url(http://p6v42xc4h.bkt.clouddn.com/disc-default.png) center no-repeat;
    background-size: contain;
}
.song-wrap .disc .disc-halo {
    width: 100%;
    height: 100%;
    background: transparent url(http://p6v42xc4h.bkt.clouddn.com/disc-halo-s.png) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.song-wrap .disc .cover,
.song-wrap .disc .disc-halo  {
    animation: spin 20s infinite linear;
    animation-play-state: paused;
}
.song-wrap .disc .cover > img {
    width: 100%;
    border-radius: 50%;
    vertical-align: top;
}
.song-wrap .play-btn {
    width: 50px;
    height: 50px;
    background: transparent url(http://p6v42xc4h.bkt.clouddn.com/play-btn.png) center no-repeat;
    background-size: contain;
    position: absolute;
    top: calc(50% + 32px);/* 32px是.song-wrap的padding-top一半 */
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
.song-wrap .play-btn.show {
    display: block;
}
.song-wrap .play-btn.hide {
    display: none;
}

/* 查询屏幕大小 */
@media screen and (min-width: 360px) {
    .song-wrap {
        padding-top: 70px;
    }
    .song-wrap .pointer {
        width: 96px;
        height: 137px;
        background-image: url(http://p6v42xc4h.bkt.clouddn.com/pointer-m.png);
    }
    .song-wrap .disc {
        width: 296px;
        height: 296px;
    }
    .song-wrap .disc .circle::before {
        background-image: url(http://p6v42xc4h.bkt.clouddn.com/disc-m.png);
    }
    .song-wrap .disc .cover {
        width: 184px;
        height: 184px;
    }
    .song-wrap .play-btn {
        width: 56px;
        height: 56px;
    }
}
@media screen and (min-width: 414px) {
    .song-wrap{
        padding-top: 80px;
    }
    .song-wrap .pointer {
        width: 110px;
        height: 157px;
        background-image: url(http://p6v42xc4h.bkt.clouddn.com/pointer-l.png);
    }
    .song-wrap .disc {
        width: 342px;
        height: 342px;
    }
    .song-wrap .disc .circle::before {
        background-image: url(http://p6v42xc4h.bkt.clouddn.com/disc-l.png);
    }
    .song-wrap .disc .cover {
        width: 212px;
        height: 212px;
    }
    .song-wrap .play-btn {
        width: 65px;
        height: 65px;
    }
}

/* 唱片旋转动画 */
@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform:rotateZ(360deg);
    }
}


/* .page-playsong .song-intro */
.song-intro {
    margin-top: 25px;
    padding: 0 35px;
}
.song-intro > h2 {
    line-height: 1.2;
    text-align: center;
    font-size: 15px;
    color: #fefefe;
}
.song-intro .singer {
    font-size: 13px;
    color: #AEABAC;
}
.song-intro .lyric-wrap {
    margin-top: 14px;
}
.song-intro .lyric-wrap .lyric-show {
    height: 72px;
    overflow: hidden;
    border: 1px solid red;
}
.song-intro .lyric-wrap .lyric-lines {

}
.song-intro .lyric-wrap p {
    line-height: 24px;
    text-align: center;
    font-size: 13px;
    color: #AEABAC;
}
.song-intro .lyric-wrap p.playing {
    color: white;
}

/* 查询屏幕大小 */
@media screen and (min-width: 375px) {
    .song-intro > h2 {
        font-size: 18px;
    }
    .song-intro .singer {
        font-size: 16px;
    }
    .song-intro .lyric-wrap .lyric-show {
        height: 90px;
    }
    .song-intro .lyric-wrap p {
        line-height: 30px;
        font-size: 16px;
    }
}